[submodule "core"]
	path = core
	url = https://github.com/ayhanyalcinsoy/core.git
	branch = master
[submodule "main"]
	path = main
	url = https://github.com/ayhanyalcinsoy/main.git
	branch = master
[submodule "pisi_tool"]
	path = pisi_tool
	url = https://github.com/ayhanyalcinsoy/pisi_tool.git
