[submodule "core"]
	path = core
	url = https://github.com/ayhanyalcinsoy/core.git
	branch = master
[submodule "main"]
	path = main
	url = https://github.com/ayhanyalcinsoy/main.git
	branch = master
[submodule "libfm"]
	path = libfm
	url = ../../lxde/libfm.git
	branch = master
